  .ContactUs_body{
    max-width: 1152px;
    padding-left: 10px;
    margin: 0 auto;
  }
  
  .ContactUs_body1{
    margin-left: 80px;
    margin-right: 80px;
  }
  
  .title1{
    margin-top: 20px;
    font-size: 60px;
    color: #747778;
    margin-bottom: 1.72rem;
    font-weight: bolder;
    font-family: 'NationalBold', sans-serif;
  }

  .current_link{
    margin-top: 20px;
    font-weight: bolder;
    color: #4a4c4c;
    margin-left: 0px;
  }

  .input{
    height: 30px;
    width: 280px;
    border-width: 2px;
    font-size: 18px;
    border-color: #00467f;
    border-radius: 5px;
  }

  .para{
    font-size: 40px;
    color: rgb(128, 126, 126);
    margin-bottom: 40px;
  }

  .contactInput{
    height: 50px;
    width: 600px;
    border-width: 2px;
    font-size: 18px;
    border-color: #00467f;
    border-radius: 5px;
  }

  .wincs_img{
    height: 100%;
    width: 100%;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  hr {
    width: 90px;
    margin-left:0px;
    background-color:#00467f;
    opacity: 0.5;
  }
  
.contactUs_link{
  text-decoration: underline;
  color: #00467f;
  font-size: 22px;
  font-family: 'NationalBold', sans-serif;

}
  

  .contactUs_subhead{
    font-size: 1.77rem;
    color: #D16587;
    position: relative;
    padding-bottom: 21.600px;
    margin-bottom: 24.600px;
    font-weight: bolder;
    font-family: 'NationalBold', sans-serif;
  }
  .contactUs_subhead::after{
    content: "";
    width: 80px;
    height: 1px;
    background-color: #747778;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .phone{
    color:#4a4c4c;
    margin-left: 0;
    text-decoration: none;
    font-family: 'NationalBold', sans-serif;
    
  
  }

  .phone:before {
    color:#00467f;
    content:"\25AA"; 
    font-size:30px; 
    padding-right:.25em;
    top:.1em; 
  }

 .contactUs_subhead2{
 
    font-family: 'NationalBold', sans-serif;
    color: #4a4c4c;
    font-weight: bolder;
  }

  p{
    font-size: 28px;
    font-family: 'NationalBold', sans-serif;
    color: #4a4c4c;
    margin:0 0 5px 0;
  }
