.text{
    margin-top: 1px;
    color: white;
    font-size: 25px;
    margin-bottom: 1px;
}

.text1{
    margin-top: 1px;
    color: white;
    font-size: 20px;
    margin-bottom: 1px;
}

.text2{
    margin-top: 1px;
    color: white;
    font-size: 10px;
    margin-bottom: 30px;
}

.card1{

    width: 100%;
    height: auto;
    top:0 ;
    top: 20%;

}




