@import 'antd/dist/antd.css';


  .gallery_body{
    margin: 0 auto;
    /*padding-left: 20px;
    padding-right: 20px;*/
    padding-top: 50px;
  }
  
  .gallery_body1{
    max-width: 1142px;
    margin: 0 auto;
  }
  
  .title1{
    font-size: 50px;
    color: #747778;
    font-weight: bolder;
    margin-bottom: 10px;
  }

  .subtitle_gallery{
    margin-top: 10px;
    font-size: 70px;
    color: #747778;
    margin-bottom: 10px;
    font-weight:300;
    text-align: center;
    font-weight: bolder;
  }

  .overlay{
    position:absolute;
    height: 245px;
    margin-top: -249px;
    align-items: center;
    background:rgba(0,128,167,0.9);
    font-size: 40px;
    width:245px;
    text-align: center;
    line-height:245px;
    color: aliceblue;
    z-index: 5;
    transition:transform 250ms, opacity 400ms;
}


.overlay:hover{
  background:rgba(0,128,167,0.99);
  /* transform:rotate(360deg); */
}


.gallery-ppt{
  /*position: relative;*/
  z-index: -1;
  width: 100%;
}



.gallery_add{
  border-radius: 32px;
  border: 2px solid #D16587;
  font-size: 18px;
  color: white;
  text-align: center;
  position:relative;
  background-color: #D16587;
  font-family: 'NationalBold', sans-serif !important;
  width: 100px;
  z-index: 10px;
  margin-top:5%;
  margin-bottom:50px;
}
    
.gallery_add:hover {
  color: #D16587;
  background-color: white;
}


.gallery_delete{
  border-radius: 32px;
  border: 2px solid #D16587;
  font-size: 18px;
  color: #D16587;
  text-align: center;
  position: relative;
  z-index: 1;
  bottom: 33px;
  background-color: rgb(255, 255, 255);
  font-family: 'NationalBold', sans-serif !important;
  width: 100px;
  font-weight: bolder;
  
}

.gallery_delete:hover{
  border: 2px solid #D16587;
  background-color: #D16587;
  color: rgb(255, 255, 255);
  box-shadow: none;
}



.gallery_grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px;
  min-width: 360px;
  max-width: fit-content;

}

.project_photo{
  width: auto;
  height: 365px;
  display: none;
}

@media screen and (max-width: 1200px) {
  .gallery_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    max-width:800px;
    margin: 0 auto;
}

.GalleryAddButton{
  width: 80px;
  margin: 0 auto;
}
}

 

@media screen and (max-width: 950px) {
  .gallery_grid {
  grid-template-columns: repeat(1, 1fr);
  width: fit-content;
  margin: 0 auto;
}
/*.gallery_padding{
  padding-left:20%;
}*/
.GalleryAddButton{
  width: 370px;
  margin: 0 auto;
}
}

.gallery_img_input{
  width: 100%;
  margin: 0 -10px;
}

.gallery_card_show_more_button{
  border-radius: 32px;
  border: 2px solid #D16587;
  font-size: 18px;
  color: white;
  text-align: center;
  background-color: #D16587;
  font-family: 'NationalBold', sans-serif !important;
  width: 130px;
  height: 40px;
  z-index: -1;
  margin-top: 50px;
}

.gallery_card_show_more_button:hover{
  color: #D16587;
  background-color: white;
}

.gallery_card_show_more_button1{
  text-align: center;
  display: block;
}

.gallery_popup_button{
  margin-right: 23px;
  margin-top: 20px;
}

.carousel-inner{
  position:unset;
}
